.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav li {
    position: relative;
}

.nav a {
    white-space: nowrap;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav li:hover {
    color: #9b50cc;
}

.nav-link::before {
    position: relative;
}
